/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

a, a:hover, a:focus {
  text-decoration: none;
}

a:hover, a:focus {
  color: initial;
}

.btn, 
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-right: 10px;
}

.heading_container img {
  width: 30px;
}

/* Header Section */
.hero_area {
  height: 98vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #eae6f5;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container {
  padding: 0;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 7px 20px;
  margin: 10px 15px;
  color: #000;
  text-align: center;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 15px;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link, 
.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  background-color: #4b208c;
  color: #fff;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 5px;
  width: 35px;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #4b208c;
}

.custom_nav-container {
  z-index: 99999;
}

.navbar-expand-lg .navbar-collapse {
  align-items: flex-end;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #190734;
  margin: 7px 0;
  transition: all .3s;
}

/* Slider Section */
.slider_section {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  color: #3b3a3a;
  padding-bottom: 90px;
}

.slider_section .detail_box {
  color: #000;
}

.slider_section .detail_box h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.slider_section .detail_box p {
  margin-top: 20px;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #4b208c;
  color: #fff;
  border-radius: 35px;
  margin-top: 35px;
}

.slider_section .detail_box a:hover {
  background-color: #5625a1;
}

/* Login and Register */
.login, 
.register {
  width: 382px;
  margin: 0 auto;
  padding: 40px 80px;
  background: #4B208C;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;  
}

.login {
  padding: 40px 80px;
}

.register {
  padding: 20px 60px;
}

/* Service Section */
.service_section {
  text-align: center;
}

.service_section .service_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 35px 0;
}

.service_section .service_container .box {
  margin: 25px 1%;
  flex-basis: 31%;
  padding: 35px 25px 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 15px solid transparent;
  transition: all .1s;
}

.service_section .service_container .box:hover {
  border-top: 15px solid #512a97;
}

/* Contact Section */
.contact_section {
  position: relative;
}

.contact_section form {
  margin-top: 45px;
  padding-right: 35px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  color: #101010;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.contact_section button {
  border: none;
  display: inline-block;
  padding: 12px 45px;
  background-color: #4b208c;
  color: #fff;
  margin-top: 35px;
  border-radius: 0px;
}

.contact_section button:hover {
  background-color: #5625a1;
}

/* Footer Section */
.footer_section {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer_section p {
  color: #222;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.footer_section p a {
  color: #222;
}

/* Info Section */
.info_section {
  background-color: #190734;
  color: #fff;
}

.info_section h6 {
  font-weight: bold;
}

.info_section .info_contact a {
  color: #fff;
}

.info_section .info_form input {
  background-color: #fff;
  border: none;
  color: #000;
  min-height: 42.4px;
  padding-left: 15px;
}

.info_section .info_form form button {
  border: none;
  padding: 10px 30px;
  background-color: #4b208c;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.info_section .info_form form button:hover {
  background-color: #5625a1;
}

.info_section .info_social img {
  width: 35px;
  margin-right: 8px;
}
