*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.topnav{
    background-color:darkviolet;
    overflow: hidden;
}

.topnav a{
    float:left;
    color:#fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: darkorchid;
    color:black;
}

.topnav a.active{
    background-color: blue;
    color:#fff;
}

.bg-img {
    background-image: url("images/images\ \(1\).jpg");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain ;
}

.image {
    height: 200px;
    width: 200px;

}
.image:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
  
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }
