*{
    margin: 0;
    padding: 0;
}

.topnav{
    background-color:darkviolet;
    overflow: hidden;
}

.topnav a{
    float:left;
    color:#fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: darkorchid;
    color:black;
}

.topnav a.active{
    background-color: blue;
    color:#fff;
}

 .bg-img {
    background-image: url("images/images\ \(1\).jpg");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain ;
}


.headbg {
    background-color: rgb(63, 209, 249);
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 50px;
    font-size: 400%;
    text-align: center;
}
